.columna1, .columna2{
     border: solid 1px blueviolet;
     padding: 0; 
     padding: 0;
     top: 5%;  
 }
 .columna1{
     width: 30%;
     height: 73%;
 }
 .columna2{
     width: 69%;
     height: 73%;
 }
 #separador{
    position: relative;
    float: left;
    height: 84%;
    width: 0.7%;
    background-color: #066595;
    border-radius: 5px;
    top: 2%;
}
#separador2{
    position: relative;
    border: solid 1px greenyellow;
    background-color: #066595;
    border-radius: 5px;
    height: 3%;
    width: 80%;
    left: 11%;
}

#title-arquim
{
    position: relative;
    border: solid 1px greenyellow;
    height: 30%;
    width: 100%;
    text-align: center;
    font-size: 44px;
    line-height: 96%;
    padding: 5%;
}
#content{
    position: relative;
    border: solid 1px greenyellow;
    height: 59%;
    width: 100%;
    padding: 8%;
}
#superior{
    position: relative;
    border: solid 1px greenyellow;
    height: 9%;
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}
#medio{
    position: relative;
    border: solid 1px greenyellow;
    height: 58%;
    width: 100%;
}
#inferior{
    position: relative;
    border: solid 1px greenyellow;
    height: 29%;
    width: 100%;
}
#probetas{
    position: relative;
    border: solid 1px greenyellow;
    height: 73%;    
}
#volumenes{
    position: relative;
    border: solid 1px deeppink;
    height: 27%;
    text-align: center;
    font-size: 15px;
    padding: 1%;
    font-weight: 600;
}
#izquierdo{
    position: relative;
    /* display: inline; */
    border: solid 1px deeppink;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 22px;
    float: left;
    padding-top: 3%;
}
#centro{
    position: relative;
    /*display: inline;*/
    border: solid 1px deeppink;
    height: 100%;
    width: 60%;
    text-align: center;
    font-size: 15px;
    float: left;  
}
#derecho{
    position: relative;
    /* display: inline; */
    border: solid 1px deeppink;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 20px;
    float: left;
    padding: 2%;
    padding-top: 4%;
}
#svg-balanza{
    position: relative;
    /* display: inline; */
    border: solid 1px royalblue;
    height: 70%;   
}
#esfera{
    position: relative;
    /* display: inline; */
    border: solid 1px royalblue;
    height: 30%;
}
#esfera2{
    position: relative;
    display: block;
    margin: auto;
    /* display: inline; */
    border: solid 1px royalblue;
    height: 100%;
}
#svg-esfera{
    height: 100%;
    width: 100%;
}
#svg-esfera2{
    display: block; 
    height: 100%;
    width: 100%;
    margin: auto;
}
#balin{
    height: 10%;
    width: 10%;
}
#_6, #ej2_6{
  visibility: hidden;
}
#escritorio{
    position: relative;
    width: 100%;
    height:50%;
    border: solid 1px deeppink;
}
#instrumentos{
    position: relative;
    width: 70%;
    height: 51%;
    left: 15%;
    border: solid 1px deeppink;
    top: 15%;
    z-index: 1;
}
#svg-escritorio{
    padding: 0;
}
#instrumento-balin{
    position: relative;
    height: 100%;
    width: 33.3%;
    border: solid 1px royalblue;
    float: left ;
}
#instrumento-balanza-balin{
    position: relative;
    height: 100%;
    width: 33.3%;
    border: solid 1px royalblue;
    float: left ;
}
#instrumento-probeta{
    position: absolute;
    height: 132%;
    width: 33.3%;
    border: solid 1px royalblue;
    float: left;
    left: 67%;
    top: -33%;
}
#svg-balin-balanza{
    position: relative;
    height: 60%;
    border: solid 1px royalblue;
    
    
}
#svgbalanza{
    position: relative;
    height: 40%;
    border: solid 1px royalblue;    
}
#probeta{
    position: relative;
    top: 26%;
    left: 14%;
}
#balin4, #balin5{
    visibility: hidden;
}
 #_x34_0ml, #_x33_5ml{
    visibility: hidden;
}
.btn-primary {
    color: #fff;
    background-color: #03935c;
    border-color: #03935c;
}