.columna1, .columna2{
    border: solid 1px blueviolet;
    padding: 0; 
    padding: 0;
    top: 5%;  
}
.columna1{
    width: 30%;
    height: 73%;
}
.columna2{
    width: 69%;
    height: 73%;
}
#separador{
    position: relative;
    float: left;
    height: 84%;
    width: 0.7%;
    background-color: #066595;
    border-radius: 5px;
    top: 2%;
}

#content{
   position: relative;
   border: solid 1px greenyellow;
   height: 100%;
   width: 100%;
   padding: 8%;
}
#derecha{
    position: relative;
    border: solid 1px greenyellow;
    height: 100%;
    width: 70%;
   /* padding: 8%;*/
    float: left;
}
#izquierda{
    position: relative;
    border: solid 1px greenyellow;
    height: 100%;
    width: 30%;
    padding: 8%;
    float: left;
}
#probeta{
    position: absolute;
    height: 84%;
    width: 100%;
    top: 37%;
    left: 0%;
}
#tabla{
    position: relative;
    top: 0%;
    border: solid 1px greenyellow;
    height: 100%;
    width: 70%;
    float: left;
}
#lista-fluidos{
    position: relative;
    top: 0%;
    border: solid 1px greenyellow;
    height: 100%;
    width: 30%;
    float: left;
}
.lista{
    position: relative;
    border: solid 1px blueviolet;
    height: 50%;
    width: 100%;
    top: 0%;
}
.item{
    position: relative;
    height: 11%;
    text-align: center;
    margin-bottom: 5px
}
#alert{
    position: absolute;
    height: 16%;
    width: 100%;
    border: solid 1px blueviolet;
    top: 0%;
    left: 0%;
    visibility: hidden;
}
#svg-fluidos{
    display:none;
}
#wrong, #right{
    visibility:hidden;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#wrong,#right{
    position: absolute;
    top: 24%;
}
#right{
    left: 23%;
}
#wrong{

}
#lista-fluidos{
    margin-top: 9%;
}